<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Send a file to Xiangru Chen">
    <meta name="author" content="Xiangru Chen">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/upload.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">

      <div class="heading">
	<div class="span12">
	  <h3>Thanks!</h3>
	</div>
      </div>

      <div class="subheading">
	<div class="span12">
	  <p>Xiangru will receive an email notification about this file sharing,
	    with the download link enclosed.</p>
	  <p>Click <a href="/">here</a> to upload another file.</p>
	</div>
      </div>

      <div class="footer">
	<div class="span12">
	  Copyright &copy <a target="_blank" href="http://www.xrchen.com">xrchen.com</a>
	</div>
      </div>

    </div>
  </body>
</html>
